<header ng-show="globals.currentUser">
	<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <button class="navbar-brand btn btn-link btn-sm" href="#">D&D Tools</button>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample06" style="">
	      <ul class="navbar-nav mr-auto">
	       <li class="nav-item dropdown">
	       	<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Items</a>
	           <div class="dropdown-menu" aria-labelledby="dropdown06">
	             <button class="dropdown-item" ng-click="goToItems()">Search Items</button>
	             <button class="dropdown-item" ng-click="goToNewItem()">Create Item</button>
	           </div>
	       </li>
	       <li class="nav-item dropdown">
	       	<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Encounters</a>
	           <div class="dropdown-menu" aria-labelledby="dropdown07">
	             <button class="dropdown-item" ng-click="goToCRC()">Challenge Rating Calculator</button>
	           </div>
	       </li>
	      </ul>
	      <ul class="navbar-nav ml-auto">
	      	<li class="nav-item">
	          <button class="btn btn-link nav-link" ng-click="logout()">Logout</button>
	        </li>
	      </ul>
      </div>
    </nav>
</header>