<div>
	<h1>{{character.name}}</h1>
	<label class="d-block">Level: {{character.level}}</label>
	<label class="d-block">Strength: {{character.strength}}</label>
	<label class="d-block">Dexterity: {{character.dexterity}}</label>
	<label class="d-block">Intelligence: {{character.intelligence}}</label>
	<label class="d-block">Constitution: {{character.constitution}}</label>
	<label class="d-block">Wisdom: {{character.wisdom}}</label>
	<label class="d-block">Charisma: {{character.charisma}}</label>
	
</div>