<div>
	<form ng-submit="search()">
		<input type="text" placeholder="Search..." ng-model="searchTermTemp"/>
		<button type="submit">Search</button>
	</form>
	<h1 ng-show="totalItems == 0">No items match the given criteria</h1>
	<p style="display:inline-block">Results per page:</p>
	<select ng-options="size as size for size in pageSizes" ng-model="perPage" ng-change="calculatePages()"></select>
	<table class="table table-striped">
		<tbody>
			<tr ng-repeat="item in items | orderBy: 'name'">
				<td>
					<item-thumbnail item="item" />
				</td>
			</tr>
		</tbody>
	</table>
	<p ng-show="totalItems != 0">Displaying results {{(currentPage - 1)*perPage + 1}} to {{(currentPage - 1)*perPage + items.length}} of {{totalItems}}</p>
	<br />
	<div ng-show="totalItems != 0">
		<button class="btn btn-default" ng-click="goToPage(1)">First</button>
		<button class="btn btn-default" ng-click="goToPage(currentPage - 1)">Previous</button>
		<button class="btn btn-default" ng-click="goToPage(page)" ng-repeat="page in pages">{{page}}</button>
		<button class="btn btn-default" ng-click="goToPage(currentPage + 1)">Next</button>
		<button class="btn btn-default" ng-click="goToPage(pages.length+1)">Last</button>
	</div>
<div>