<div class="container">

	<form class="form-signin" ng-submit="signIn()">
		<h2 class="form-signin-heading">Please sign in</h2>
		<div ng-show="error != ''">
			<label class="text-danger">{{error}}</label>
		</div>
		<label for="inputUsername" class="sr-only">Username</label>
			<input ng-model="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input ng-model="password" type="password" id="inputPassword" class="form-control mt-1" placeholder="Password" required>
		<button class="btn btn-lg btn-primary mt-1 float-left" type="submit">Sign in</button>
		<button class="btn btn-lg btn-primary mt-1 float-right" type="button" ng-click="openNewUserPage()">Create Account</button>
	</form>

</div>