<div>
	<h1>New Item</h1>
	<br />
	<form name="itemForm">
		<fieldset>
			<label for="name">Name: </label>
			<input id="name" type="text" required ng-model="item.name" placeholder="Name..."></input>
			<br />
			<label for="description">Description: </label>
			<input id="description" type="text" required ng-model="item.description" placeholder="Description..."></input>
			<br />
			<label for="rarity">Rarity: </label>
			<input id="rarity" type="text" required ng-model="item.rarity" placeholder="Rarity..."></input>
			<br />
			<label for="valueInGP">Value: </label>
			<input id="valueInGP" type="number" min="0" step="1" required ng-model="item.valueInGP" placeholder="Value..."></input> GP
			<br />
			<label for="weightInlbs">Weight: </label>
			<input id="weightInlbs" type="number" min="0" step="0.01" required ng-model="item.weightInlbs" placeholder="Weight..."></input> lbs
		</fieldset>
		<button class="btn btn-default" ng-click="createItem(itemForm)" ng-disabled="sendingToDB">Create</button>
		<button class="btn btn-default" type="button" ng-click="cancelCreate()" ng-disabled="sendingToDB">Cancel</button>
	</form>
</div>